*{
    margin: 0;
}

main {
    padding-top: 10%;
    text-align: left;
}

header {
    text-align: center;
    color: rgb(14, 86, 94);
}

.container {
    margin: 0 40vh;
}

.logo {
    width: 25%;
    margin: 0 auto;
}

.logo img {
    margin-top: 2vh;
    width: 100%;
}

#logo-title {
    background-color: rgb(253,251,241);
    margin: 1vh 0;
    padding: 1vh 0;
    border-top: 2px solid rgb(255,216,119);
}

#main-title {
    text-align: center;
    font-size: 30px;
    margin: 1em 0;
}

#img-description {
    font-size: 20px;
    text-align: justify;
    margin: 1em 0;
}

.img-focaccia {
    text-align: center;
}

.img-focaccia img {
    width: 100%;
    border-radius: 10px;
}

#img-footer {
    color: grey;
    text-align: center;
}

#link {
    color: red;
    border-left: solid 1px orange;
    padding: 0 20px;
    margin: 2em 0;
}

h3 {
    margin: 1em 0;
}

.list {
    margin: 1em 0;
}

#bluebar {
    border-bottom: solid 1px #06918f;
}

ul, ol, li {
    padding-top: 0.7em;
}

footer {
    padding: 1em 0;
}