*{
    margin: 0;
}

main {
    padding-top: 10%;
    text-align: left;
}

header {
    text-align: center;
    color: #06918f;
}

.container {
    margin: 0 40vh;
}

.logo {
    width: 25%;
    margin: 0 auto;
}

.logo img {
    margin-top: 2vh;
    width: 100%;
}

#logo-title {
    border-top: 2px solid #ffcc00;
    padding-top: 10px;
}

#main-title {
    text-align: center;
    font-size: 30px;
}

#img-description {
    font-size: 20px;
    text-align: justify;
}

.img-focaccia {
    text-align: center;
}

.img-focaccia img {
    width: 100%;
}

#img-footer {
    color: grey;
    text-align: center;
}

#link {
    color: red;
}

ul, ol, li {
    padding-top: 0.7em;
}

footer {
    padding: 1em 0;
}